footer {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    background-color: #f8f9fa;
    /* margin-left: 270px; */
    /* border-top: 1px solid #ddd; */
    transition: margin-left 0.3s ease;
}

